# Keycloak OIDC config
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8090
NEXT_PUBLIC_KEYCLOAK_REALM=odin
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=wms-web

# WMS Backend API (server-side only — não expor ao browser)
WMS_API_URL=http://localhost:8080

# (Opcional) expor URL ao browser quando usando proxy direto
NEXT_PUBLIC_API_URL=/api/proxy
